[Unit]
Description=Disk Space Exporter

[Service]
ExecStart=/home/pi/git/disk-space-exporter/app.psgi --port 5050
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
